body {
	font-family: Arial, sans-serif;    
	font-size: 150%;
	background-color: #fff;
	color: #000;
}
a {
	color: #000;
}
.svid {
	display: none;
}
#sv_bar {
	display: block;
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	padding: 10px;
}
.shead {
	background-color: #fff;	
}
.shead a {
	color: #000;
}
.sheader {
	padding-left: 0;
	color: #000;
}
.svid a {
	color: #000;
	font-size: 18px;
}
.ssearch .form-control {
	height: 32px;
}
.regions, .journal {
	display: none;
}
.leftmenu {
	background-color: #fff;	
}
.leftmenu ul {			
	padding: 10px 10px 0px 10px;
}
.leftmenu a {
	color: #000;
	font-size: 120%;
}
.leftmenu li {
	padding-bottom: 10px;
}
.snavbar, .sfooter {	
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}
.snavbar a {
	color: #000;
}
.newsdiv {
	width: 100%;
}
.snavbar .container, .sfooter .container {
	background-color: #fff;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
.scont {
	font-size: 100%;
}
.snav a:hover, .slanguage a:hover, .leftmenu a:hover {
	color: #990000;
}
small, .small {
	font-size: 100%;
}
.btn-primary, .btn-primary:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
#sm_slider {
	display: none;
}