body {
	font-family: Arial, sans-serif;    
	font-size: 150%;
	background-color: #fff;
	color: #000;
}
a {
	color: #000;
}
.svid {
	display: none;
}
#sv_bar {
	display: block;
	background-color: #ccc;
	padding: 10px;
}
.sheader {
	padding-left: 0;
}
.snametop {
	font-size: 29px;
}
.sname {
	font-size: 16px;
	font-weight: bold;
}
.svid a {
	color: #000;
	font-size: 18px;
}
.ssearch {
	margin-top: 0;
}
.ssearch .form-control {
	height: 32px;
}
.regions, .journal, .gosbdiv, .sline, .fhr, .sname {
	display: none;
}
.leftmenu {
	background-color: #fff;
	border-right: 2px solid #000;
}
.leftmenu ul {			
	padding: 10px 10px 0px 10px;
}
.leftmenu li {
	border-bottom: none;
}
.snavbar, .sfooter {
	background-color: #ccc;
	color: #000;
}
.snavbar a {
	color: #000;
}
.shead {
	margin-top: 0;
}
.navbar-default .navbar-brand {
	color: #000;
	margin-top: 10px;
	font-size: 26px;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
.snav {
	font-size: 18px;
}
.snav a:hover {
	color: #990000;	
}
.scont {
	font-size: 100%;
}
small, .small {
	font-size: 100%;
}
.btn-primary, .btn-primary:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
#sm_slider {
	display: none;
}
.navbar-default .navbar-brand {
	display: none;
}