body {
	font-family: Arial, sans-serif;    
	font-size: 150%;
	background-color: #fff;
	color: #000;
}
a {
	color: #000;
}
.svid {
	display: none;
}
#sv_bar {
	display: block;
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	padding: 10px;
}
.sheader {
	padding-left: 0;
}
.snametop {
	font-size: 29px;
}
.sname {
	font-size: 34px;
	font-weight: bold;
}
.svid a {
	color: #000;
	font-size: 18px;
}
.ssearch .form-control {
	height: 32px;
}
.regions, .journal {
	display: none;
}
.leftmenu {
	background-color: #fff;
	border-left: 2px solid #000;
}
.leftmenu ul {			
	padding: 10px 10px 0px 10px;
}
.leftmenu li {
	border-bottom: none;
}
.snavbar, .sfooter {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}
.snavbar a {
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
.snav a:hover {
	color: #990000;
}
.scont {
	font-size: 100%;
}
small, .small {
	font-size: 100%;
}
.btn-primary, .btn-primary:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
#sm_slider {
	display: none;
}